<!--work experience-->
<md-card flex>
    <md-card-content>
        <md-content layout="row">
            <md-content flex="10">
                <i class="material-icons md-avatar material-icon-color-dark material-icon-big">work</i>
            </md-content>
            <md-content flex>
                <h2>Work Experience</h2>
                <md-button class="md-fab md-fab-bottom-right" aria-label="Download" hide-xs>
                    <a href="assets/albert_cv_en.pdf" target="_blank">
                    <i class="material-icons material-icon-color" style="margin-top: 15px">file_download</i>
                    <md-tooltip md-direction="top">
                        Download
                    </md-tooltip>
                    </a>
                </md-button>
                <md-list>
                    <md-item ng-repeat="work in main.profile.workExperience">
                        <md-item-content>
                            <div class="md-tile-content">
                                <h3>
                                    {{work.title}}
                                </h3>
                                <h4>@{{work.company}}</h4>
                                <span>{{main.toDate(work.from) | date:'MMM yyyy'}} - {{main.toDate(work.until) == null ? 'Current' : main.toDate(work.until) | date:'MMM yyyy' }}</span>
                                <p>
                                    {{work.description}}
                                </p>
                            </div>
                        </md-item-content>
                        <md-divider ng-if="!$last"></md-divider>
                    </md-item>

                </md-list>
            </md-content>
        </md-content>
    </md-card-content>
</md-card>
<!--end work experience-->

<!--education-->
<md-card flex>
    <md-card-content>
        <md-content layout="row">
            <md-content flex="10">
                <i class="material-icons md-avatar material-icon-color-dark material-icon-big">school</i>
            </md-content>
            <md-content flex>
                <h2>Education</h2>
                <md-list>
                    <md-item ng-repeat="education in main.profile.education">
                        <md-item-content>
                            <div class="md-tile-content">
                                <h3>
                                    {{education.title}}
                                </h3>
                                <h4>@{{education.institute}}</h4>
                                <span>{{education.discipline}}</span>
                                <span>{{education.score}}</span>
                                <span>{{education.from}} - {{education.until}}</span>
                                <p>
                                    {{education.activities}}
                                </p>
                            </div>
                        </md-item-content>
                        <md-divider ng-if="!$last"></md-divider>
                    </md-item>

                </md-list>
            </md-content>
        </md-content>
    </md-card-content>
</md-card>
<!--end education-->

<!--Professional skills-->
<md-card flex>
    <md-card-content>
        <md-content layout="row">
            <md-content flex="10">
                <i class="material-icons md-avatar material-icon-color-dark material-icon-big">developer_board</i>
            </md-content>
            <md-content flex>
                <h2>Professional skills</h2>
                <md-list>
                    <md-item ng-repeat="skill in main.profile.personalInformation.skills | orderBy:'name'">
                        <md-item-content>
                            <md-slider-container>
                                <span>{{skill.name}}</span>
                                <md-slider flex min="0" max="100" ng-model="main.profile.personalInformation.skills[main.getIndexOfSkill(skill)].value;" aria-label="{{skill.name}}" ng-disabled="true">
                                </md-slider>
                            </md-slider-container>
                        </md-item-content>
                    </md-item>

                </md-list>
            </md-content>
        </md-content>
    </md-card-content>
</md-card>
<!--end Professional skills-->

<!--Interestes-->
<md-card flex>
    <md-card-content>
        <md-content layout="row">
            <md-content flex="10">
                <i class="material-icons md-avatar material-icon-color-dark material-icon-big">local_activity</i>
            </md-content>
            <md-content flex class="interests">
                <h2>Interests</h2>
                <ul>
                    <li ng-repeat="interest in main.profile.personalInformation.interests">
                        <i class="material-icons material-icon-big material-icon-color-dark">
                            {{interest.icon}}
                            <md-tooltip md-direction="top">
                                {{interest.name}}
                            </md-tooltip>
                        </i>
                    </li>
                </ul>
            </md-content>
        </md-content>
    </md-card-content>
</md-card>
<!--end Interestes-->
