<auth></auth>
<md-button class="md-fab md-fab-bottom-right" aria-label="Add" ui-sref="admin.coverLetters.add">
    <i class="material-icons margin-top-15">add</i>
</md-button>
<div class="table-responsive-vertical md-whiteframe-z1">
    <sorting on-change="vm.sortChanged(sort)" property="name" order="1"></sorting>
    <input type="search" ng-model="vm.searchText" placeholder="Search" />
    <table id="table" class="table table-hover table-bordered">
        <thead>
        <tr>
            <th>Name</th>
            <th>Slug</th>
          <!--  <th>Created on</th>
            <th>updated on</th> -->
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr dir-paginate="letter in vm.coverLetters | itemsPerPage: vm.perPage" total-items="vm.coverLettersCount">
            <td data-title="ID" ui-sref="admin.coverLetters.edit({id: letter._id})">{{letter.name}}</td>
            <td data-title="Issue" ui-sref="admin.coverLetters.edit({id: letter._id})">{{letter.slug}}</td>
            <!--<td data-title="Status" ui-sref="admin.coverLetters.edit({id: letter._id})"></td>
            <td data-title="Progress" ui-sref="admin.coverLetters.edit({id: letter._id})"></td>-->
            <td data-title="Actions">
                <md-button class="md-raised md-warn" ng-click="vm.deleteCoverLetter(letter._id)">Delete</md-button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<dir-pagination-controls on-page-change="vm.pageChanged(newPageNumber)"></dir-pagination-controls>

